<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Roldaninhas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <table border="solid 1px">
        <tr>
            <td>NOME FANTASIA</td>
            <td>DATA DE FABRICAÇÃO</td>
            <td>COR</td>
            <td>PREÇO</td>
            <td>ALTURA</td>
            <td>PESO</td>
        </tr>
        <tr>
            <td>Vanessa</td>
            <td>12/09/1998</td>
            <td>Branca</td>
            <td>100</td>
            <td>1,88</td>
            <td>71</td>
        </tr>
    </table>
</body>
</html>